<h1>Sessions#new</h1>

<h1>Connexion</h1>
<head>
<%= stylesheet_link_tag 'sessions' %>
</head>

<%= form_with model: @user, url: login_path do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit 'Se connecter' %>
  </div>
<% end %>

  
